<section class="row">
	<div class="col-sm-2 col-md-2 col-lg-2 menubar-part"></div>
	<div class="col-sm-10 col-md-10 col-lg-10 sign-up-details">
		<form id="providersignup-form" onsubmit="return validateForm()" method="POST" action="/signup/memberSignup">
			<input type="hidden" id="createorUpdateBack" name="createorUpdateBack" value={{createorUpdate}}>
			<div id="personalInfo" class="signUp-sub-info">
				<h1 class="signUp-sub-info-heading">Personal Details</h1>
				<div class="form-group hidden " id="sp-error-container">
					<div class="alert alert-danger text-goes-here" id="sp-error-text"></div>
				</div>
				<div class="form-group row form-grp-div">
					<label class="col-sm-3 col-md-3 col-lg-3 control-label signup-form-labels" for="firstName">First Name: </label>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<input type="text" class="form-control" placeholder="eg.Philip" id="firstName" name="firstName" value="{{firstName}}">
					</div>
				</div>
				<div class="form-group row form-grp-div">
					<label class="col-sm-3 col-md-3 col-lg-3 control-label signup-form-labels" for="lastName">Last Name: </label>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<input type="text" class="form-control" placeholder="eg.Baressi" id="lastName" name="lastName" value="{{lastName}}">
					</div>
				</div>
				<div class="form-group row form-grp-div">
					<label class="col-sm-3 col-md-3 col-lg-3 control-label signup-form-labels" for="email">Email Id: </label>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<input type="email" class="form-control" id="email" name="email" placeholder="someone@abc.com" value="{{email}}">
					</div>
				</div>
				<div class="form-group row form-grp-div">
					<label class="col-sm-3 col-md-3 col-lg-3 control-label signup-form-labels" for="occupation">Occupation: </label>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<input type="text" class="form-control" id="occupation" name="occupation" placeholder="student" value="{{occupation}}">
					</div>
				</div>
				<div class="form-group row form-grp-div">
					<label for="password" class="col-sm-3 col-md-3 col-lg-3 control-label signup-form-labels">Password:</label>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<input type="password" class="form-control" id="password" name="password" placeholder="Password" value="{{password}}">
					</div>
				</div>
				<div class="form-group row form-grp-div">
					<label for="c-password" class="col-sm-3 col-md-3 col-lg-3 control-label signup-form-labels">Confirm Password:</label>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<input type="password" class="form-control" id="c-password" name="password" placeholder="Password" value="{{password}}">
					</div>
				</div>
			</div>
			<div class="form-group row form-grp-div">
				<div class="col-sm-offset-5 col-md-offset-5 col-lg-offset-5 col-sm-10 col-md-10 col-lg-10">
					<button type="submit" id="p-submit" class="btn btn-default">Submit</button>
				</div>
			</div>
			<div class="signin-link">
				<strong>{{result}}</strong>
				<a href="/signin/initial">Please click here to SIGN IN</a>
			</div>
		</form>
	</div>
</section>